
<main>


    <div class="post">
        <h1>{{ posts.title }}</h1>
<div>
  <img src='/images/uploads/{{posts.mainimage}}'>
</div>
        <p style="font-size: 12px;">{{posts.category }} {{ posts.author }} on  moment({{posts.date}}).format("MM-DD-YYYY")  </p>
   {{ body }}
    </div>
   


  <hr>

</main>

